**/bin/
**/obj/
**/.vs/
**/.vscode/
**/node_modules/
FinanceApp.Mobile/
FinanceApp.Documentations/
FinanceApp.Tests/
FinanceApp.API.Tests/
**/*.md
.git/
.github/
.claude/
.db-backups/
**/uploads/
**/TestResults/
